################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/ForsaWebAPI/bin
/ForsaWebAPI/obj/Debug
